* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
  outline: none;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Roboto Mono", monospace;
  background-color: whitesmoke;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}
:root {
  --dark-yellow: #f4e04d;
  --light-yellow: #f2ed6f;
  --mil-green: #cee397;
  --dir-blue: #8db1ab;
  --blue-gray: #587792;
}
.linkActive{
  text-decoration: underline;
}
/*HOME start*/
.navbar {
  background-color: black;
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
}
.logo > a {
  font-size: 2rem;
  color: whitesmoke;
  font-weight: 900;
  cursor: pointer;
}
.nav-menu {
  display: flex;
  gap: 1rem;
}
.nav-menu li a {
  font-size: 1rem;
  color: whitesmoke;
  font-weight: 700;
  cursor: pointer;
}
.nav-menu li :hover {
  text-decoration: underline;
}
.hero {
  background-image: url("~/public/images/lands.jpg");
  background-blend-mode: overlay;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  filter: contrast(150%);
  position: relative;
}
.content {
  position: absolute;
  left: 0%;
  right: 0;
  z-index: 12;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.content h1 {
  text-align: center;
  font-size: 3rem;
  color: whitesmoke;
}
.content p {
  color: gray;
  text-align: center;
}
.content .find-btn {
  margin-top: 1.5rem;
  background-color: var(--dark-yellow);
  color: black;
  padding: 1rem;
  font-size: 1.1rem;
  border: 3px solid var(--mil-green);
  border-radius: 5rem;
  cursor: pointer;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.content .find-btn:hover {
  background-color: var(--mil-green);
  border: 3px solid var(--dark-yellow);
}
.gradient {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 11;
  background-image: linear-gradient(to top, black, black);
  opacity: 0.7;
}
.footer {
  background-color: black;
  color: gray;
  text-align: center;
  padding: 1.5rem;
  font-size: 1.5rem;
}
/*HOME end*/

/*about start*/
.about {
  width: 100%;
  height: 40vh;
  margin-bottom: 35rem;
}
.about img {
  width: 100%;
  height: 50vh;
  object-fit: cover;
}
.container {
  padding: 0 2rem;
}
.content-sec {
  margin: 2rem 0;
}
.content-sec h1 {
  font-size: 2rem;
  text-align: left;
  font-weight: 900;
}
.content-sec p {
  color: gray;
  font-weight: 800;
}
.card-sec {
  margin: 2rem 0;
}
.card-sec-div {
  background-color: wheat;
  border-radius: 0.1rem;
  padding: 2rem;
}
.card-sec-div h2 {
  font-size: 1.5rem;
  font-weight: 900;
  margin: 1rem 0 2rem 0;
}
.card-sec-div .custom-btn {
  background-color: black;
  color: whitesmoke;
  padding: 1rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 0.5rem;
  cursor: pointer;
  border: 1px solid black;
}
.card-sec-div .custom-btn:hover {
  background-color: whitesmoke;
  color: black;
  border: 1px solid black;
}
/*about end*/

/*vans start*/
.vans .vans-top h1 {
  font-size: 2rem;
  font-weight: 900;
  margin: 2rem 0;
}
.filters {
  display: flex;
  justify-content: space-around;
  margin: 2rem 0;
}
.filter-btn {
  background-color: wheat;
  padding: 0.5rem 1rem;
  font-weight: 800;
  border: 1px solid wheat;
  border-radius: 0.5rem;
  cursor: pointer;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.filter-btn:hover {
  background-color: transparent;
  border: 1px solid black;
}
.filter-clear-btn {
  background-color: transparent;
  cursor: pointer;
  font-weight: 800;
  display: inline-block;
  background: linear-gradient(#000 0 0);
  background-position: 0 100%;
  background-size: 0% 2px;
  background-repeat: no-repeat;
  transition: background-size 0.3s, background-position 0s 0.3s;
}
.filter-clear-btn:hover {
  background-position: 100% 100%;
  background-size: 100% 2px;
}
.main {
  display: grid;
  grid-template-columns: 1fr repeat(12, minmax(auto, 60px)) 1fr;
  grid-gap: 40px;
  padding: 3.75rem 0;
}
.cards {
  grid-column: 2 / span 12;
  display: grid;
  grid-template-columns: repeat(12, minmax(auto, 3.75rem));
  grid-gap: 40px;
}
.card {
  grid-column-end: span 4;
  display: flex;
  color: black;
  flex-direction: column;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  border-radius: 0.5rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.card img {
  height: 100%;
  object-fit: cover;
}
.card .title {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card .title h1 {
  font-size: 1.5rem;
  font-weight: 900;
}
.card .title h2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.card .title :first-child {
  font-weight: 800;
}
.van-type {
  font-weight: 700;
  padding: 0.5rem;
  width: 40%;
  margin: 1rem;
  text-align: center;
  border: none;
  border-radius: 5px;
  background-color: #ffead0;
  color: #4d4d4d;
  transition: 200ms all cubic-bezier(0.4, 0, 0.2, 1);
}

.van-type:hover {
  color: #ffead0;
}

.van-type:focus {
  outline: none;
}

.van-type.selected {
  color: #ffead0;
}

.van-type.simple:hover,
.van-type.simple.selected {
  background-color: #e17654;
}

.van-type.rugged:hover,
.van-type.rugged.selected {
  background-color: #115e59;
}

.van-type.luxury:hover,
.van-type.luxury.selected {
  background-color: #161616;
}

.van-type.clear-filters {
  margin-left: -20px;
  height: 34px;
  padding: 6px 26px;
  font-style: normal;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  text-decoration: underline;
  background-color: transparent;
  color: #4d4d4d;
}

i[class*="van-type-"] {
  padding: 7px 14px;
}
.loading {
  font-size: 3rem;
  font-weight: 900;
  position: absolute;
  left: 0%;
  right: 0;
  background-color: wheat;
  width: 100%;
  height: 100%;
  z-index: 1;
  top: 0%;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.vans-title {
  text-align: center;
}
/*vans end*/

/*van-detail starts*/
.van-detail .van-detail-card {
  display: block;
  width: 100%;
  margin: 2rem auto;
}
.van-detail .van-detail-card img {
  width: 90%;
  height: auto;
  object-fit: cover;
  display: block;
  margin: 2rem auto;
  border-radius: 0.5rem;
  filter: contrast(100%);
}
.van-detail-card h1 {
  font-size: 2rem;
  font-weight: 900;
  margin: 1rem 0;
}
.van-detail-card h2 {
  margin: 1rem 0;
}
.van-detail-card .van-type {
  margin: 1rem 0;
  width: 10%;
}
.van-detail-card h2 :first-child {
  font-weight: 800;
}
.van-detail-card p {
  font-size: 1rem;
  margin: 1rem 0;
  color: gray;
}
.van-detail-card .rent-type {
  background-color: wheat;
  padding: 1rem;
  font-size: 1.3rem;
  font-weight: 800;
  border-radius: 0.5rem;
  border: 1px solid black;
  cursor: pointer;
}
.van-detail-card .rent-type:hover {
  background-color: orange;
  border: 1px solid black;
}
/*van-detail ends*/

/*vans start*/
.host-navbar{
  display: flex;
  justify-content: space-around;
  margin: 2rem 0;
}
.host-navbar a{
  font-size: 1.2rem;
  color: black;
  border: 1px solid black;
  padding: .5rem;
  border-radius: .5rem;
}
.host-navbar a:hover{
  background-color: white;
}
/*vans end*/

/*HostVanCard start*/
.host-van-card{
  background-color: white;
  margin: 2rem 0;
  border-radius: .5rem;
  display: flex;
  gap: 5rem;
  padding: 2rem;
  color: black;
  width: 100%;
}
.host-van-card img{
  width: 5rem;
  height: 5rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: .5rem;
}
.host-van-card h3{
  font-weight: 800;
  font-size: 1.5rem;
}
.host-van-card .text{
  display: flex;
  flex-direction: column;
}
.host-vans h1{
  font-size: 2rem;
  font-weight: 900;
}
/*HostVanCard end*/

/* responsive */
@media only screen and (max-width: 1200px) {
  .content {
    padding: 2rem;
  }
  .content h1 {
    font-size: 2.5rem;
  }
  .vans-top h1 {
    text-align: center;
  }
  .van-detail-card .van-type {
    margin: 1rem 0;
    width: 20%;
  }
  .about {
    margin-bottom: 37rem;
  }
}

@media only screen and (max-width: 1000px) {
  .card {
    grid-column-end: span 6;
  }
  .van-detail-card .van-type {
    margin: 1rem 0;
    width: 25%;
  }
  .van-detail-card .rent-type {
    padding: 0.9rem;
    font-size: 1.2rem;
  }
  .about {
    margin-bottom: 39rem;
  }
}

@media only screen and (max-width: 700px) {
  .main {
    grid-gap: 20px;
  }
  .card {
    grid-column-end: span 12;
  }
  .filters {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
  .van-detail-card img {
    width: 100%;
  }
  .van-detail-card .van-type {
    margin: 1rem 0;
    width: 30%;
  }
  .van-detail-card .rent-type {
    padding: 0.8rem;
    font-size: 1.1rem;
  }
  .about {
    margin-bottom: 41rem;
  }
}

@media only screen and (max-width: 600px) {
  .content {
    padding: 1.5rem;
  }
  .content h1 {
    font-size: 2rem;
  }
  .content-sec h1 {
    font-size: 1.5rem;
  }
  .card-sec-div h2 {
    font-size: 1.3rem;
  }
  .logo > a {
    font-size: 1.5rem;
  }
  .van-detail-card img {
    width: 100%;
  }
  .van-detail-card .van-type {
    margin: 1rem 0;
    width: 35%;
  }
  .van-detail-card .rent-type {
    padding: 0.7rem;
    font-size: 1rem;
  }
  .about {
    margin-bottom: 43rem;
  }
}

@media only screen and (max-width: 500px) {
  .main {
    grid-template-columns: 10px repeat(6, 1fr) 10px;
    grid-gap: 10px;
  }
  .cards {
    grid-column: 2 / span 6;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 20px;
  }
  .card {
    grid-column-end: span 6;
  }
  .van-detail-card img {
    width: 100%;
  }
  .van-detail-card .van-type {
    margin: 1rem 0;
    width: 40%;
  }
  .about {
    margin-bottom: 45rem;
  }
}
@media only screen and (max-width: 425px) {
  .content h1 {
    font-size: 1.5rem;
  }
  .content-sec h1 {
    font-size: 1.3rem;
  }
  .card-sec-div .custom-btn {
    font-size: 1rem;
  }
  .van-detail-card img {
    width: 100%;
  }
  .van-detail-card .van-type {
    margin: 1rem 0;
    width: 45%;
  }
  .about {
    margin-bottom: 47rem;
  }
  .host-van-card h3{
    font-size: 1.2rem;
  }
  .host-van-card{
    gap: 4rem;
  }
  .host-navbar{
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
  }
  .host-vans h1{
    font-size: 1.5rem;
    text-align: center;
  }
}

@media only screen and (max-width: 355px) {
  .about {
    margin-bottom: 50rem;
  }
  .host-van-card h3{
    font-size: 1rem;
  }
  .host-van-card{
    gap: 3rem;
  }
}

@media only screen and (max-width: 324px) {
  .about {
    margin-bottom: 52rem;
  }
  .host-van-card h3{
    font-size: 1rem;
  }
  .host-van-card{
    gap: 2rem;
  }
}
